<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="tests">
  <test thread-count="2" name="TestBlock1">
    <classes>
      <class name="com.actitime.testscript.ProjectModule"/>
      <class name="com.actitime.testscript.ReporterModule"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="2" name="TestBlock2">
    <classes>
      <class name="com.actitime.testscript.CustomerModule"/>
      <class name="com.actitime.testscript.TaskModule"/>
    </classes>
  </test>
</suite> <!-- Suite -->
